<?xml version="1.0"?>
<doc>
<assembly>
<name>
SMRUCC.genomics.Model.OperonMapper
</name>
</assembly>
<members>
<member name="T:SMRUCC.genomics.Model.OperonMapper.My.Resources.Resources">
<summary>
  A strongly-typed resource class, for looking up localized strings, etc.
</summary>
</member>
<member name="P:SMRUCC.genomics.Model.OperonMapper.My.Resources.Resources.ResourceManager">
<summary>
  Returns the cached ResourceManager instance used by this class.
</summary>
</member>
<member name="P:SMRUCC.genomics.Model.OperonMapper.My.Resources.Resources.Culture">
<summary>
  Overrides the current thread's CurrentUICulture property for all
  resource lookups using this strongly typed resource class.
</summary>
</member>
<member name="P:SMRUCC.genomics.Model.OperonMapper.My.Resources.Resources.known_operon_download">
<summary>
  Looks up a localized string similar to koid	org	name	op	definition	source
KO00001	224324	glnBA	aq_109,aq_111		10692367
KO00002	62977	benPK	ACIAD_RS06620,ACIAD_RS06625	benzoate catabolism	11932465
KO00003	62977	areCBA	ACIAD_RS06600,ACIAD_RS06605,ACIAD_RS06610	catabolism of benzyl esters into benzoates	12957953
KO00004	62977	benABCDE	ACIAD_RS06635,ACIAD_RS06640,ACIAD_RS06645,ACIAD_RS06650,ACIAD_RS06655	benzoate degradation	12603735
KO00005	62977	catBCIJFD	ACIAD_RS06680,ACIAD_RS06685,ACIAD_RS06690,ACIAD_RS06695,ACIAD_RS06700,ACIAD_RS06705	benzoate  [rest of string was truncated]&quot;;.
</summary>
</member>
<member name="T:SMRUCC.genomics.Model.OperonMapper.My.Resources.Data">
<summary>
  A strongly-typed resource class, for looking up localized strings, etc.
</summary>
</member>
<member name="P:SMRUCC.genomics.Model.OperonMapper.My.Resources.Data.ResourceManager">
<summary>
  Returns the cached ResourceManager instance used by this class.
</summary>
</member>
<member name="P:SMRUCC.genomics.Model.OperonMapper.My.Resources.Data.Culture">
<summary>
  Overrides the current thread's CurrentUICulture property for all
  resource lookups using this strongly typed resource class.
</summary>
</member>
<member name="P:SMRUCC.genomics.Model.OperonMapper.My.Resources.Data.known_operon_download">
<summary>
  Looks up a localized resource of type System.Byte[].
</summary>
</member>
<member name="T:SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures">
 <summary>
 To evaluate the contribution of selected features in operon prediction, we have calculated 
 the numerical values of the features, And then used these values individually And in combination 
 to train a classifier. The features used in our study are
 
 + (i)   the intergenic distance, 
 + (ii)  the conserved gene neighborhood, 
 + (iii) distances between adjacent genes' phylogenetic profiles, 
 + (iv)  the ratio between the lengths of two adjacent genes And 
 + (v)   frequencies Of specific DNA motifs in the intergenic regions.
 </summary>
 <remarks>
 Operon prediction using both genome-specific and general genomic information 
 
 https://academic.oup.com/nar/article/35/1/288/2401876
 </remarks>
 
</member>
<member name="M:SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.CalculateNeighborhoodConservation(SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.GeneInfo,SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.GeneInfo,System.Collections.Generic.List{SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.GenomeInfo},System.Collections.Generic.Dictionary{System.String,System.Collections.Generic.Dictionary{System.String,System.Double}})">
 <summary>
 where ``L(gi, gj, Gk)`` is the loglikelihood of a gene pair to be neighbors in the kth genome Gk. 
 The log-likelihood score Is computed as the probability that gi And gj are neighbors within a distance dk(i,j) In Gk, 
 Or L(gi, gj, Gk) = log Pij; Pij Is defined as follows:
 
 (i)   Pij = (1-pik)(1-pjk), if both genes are absent from genome Gk,
 (ii)  Pij = (1-pik) pjk, if only gene j Is present In genome Gk,
 (iii) Pij = pik (1-pjk), if only gene i Is present In genome Gk,
 (iv)  Pij = (pikpjkdk(i, j) (2Nk-dk(i,j)-1))/(Nk(Nk-1)), If genes i And j are present In genome Gk.
 
 dk(ij) Is the number of genes between gi And gj; Nk Is the number Of genes In genome Gk; And pik Is the probability 
 that gene gi Is present In genome Gk.
 </summary>
 <param name="gene1"></param>
 <param name="gene2"></param>
 <param name="referenceGenomes"></param>
 <param name="phylumProbabilities">基因ID -> (门 -> 概率)</param>
 <returns></returns>
 <remarks>
 2. 计算基因邻域保守性 (Neighborhood Conservation)
 </remarks>
</member>
<member name="M:SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.CalculatePhylogeneticDistanceHamming(SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.GeneInfo,SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.GeneInfo,System.Collections.Generic.List{System.String})">
 <summary>
 For the Hamming distance between two genes A And B, we sum the number Of times that only A Or B Is found in the genome, 
 DH=Sum([1,n], di)‚ where n Is the number of genomes, di=0 if the orthologs of A And B are both present Or both absent in genome i, 
 And di = 1 otherwise.
 </summary>
 <param name="gene1"></param>
 <param name="gene2"></param>
 <param name="genomeIDs"></param>
 <returns></returns>
 <remarks>
 3. 计算系统发育距离 (Hamming Distance)
 </remarks>
</member>
<member name="M:SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.CalculateLengthRatio(SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.GeneInfo,SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.GeneInfo)">
 <summary>
 The score is calculated as the natural log of the length ratio of upstream gene And downstream gene, 
 Or L = ln(li/lj), j = i + 1, whereas li And lj are the length of the genes.
 </summary>
 <param name="upstreamGene"></param>
 <param name="downstreamGene"></param>
 <returns></returns>
 <remarks>
 4. 计算基因长度比 (Length Ratio)
 </remarks>
</member>
<member name="M:SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.CalculateGOSimilarity(SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.GeneInfo,SMRUCC.genomics.Model.OperonMapper.ContextModel.Operon.OperonPredictionFeatures.GeneInfo,System.Collections.Generic.Dictionary{System.String,System.Collections.Generic.List{System.String}})">
 <summary>
 6. 计算GO功能相似性 (GO Similarity)
 </summary>
 <param name="gene1"></param>
 <param name="gene2"></param>
 <param name="goHierarchy">GO术语 -> 父术语列表</param>
 <returns></returns>
</member>
<member name="T:SMRUCC.genomics.Model.OperonMapper.OperonRow">
 <summary>
 A row of the data in ODB dataset ``known_operon.download.txt``
 </summary>
</member>
</members>
</doc>
